---
http_interactions:
- request:
    method: post
    uri: https://wsbeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v6">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>invalid</Key>
              <Password>invalid</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>invalid</AccountNumber>
            <MeterNumber>invalid</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>6</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>XXYYZZ</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - 07d3e23d-5755-417f-88ee-7fa022d5cff2
      X-Csr-Elapsed-Millis:
      - '37'
      Responsesslprotocol:
      - TLSv1.3
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><v6:TrackReply xmlns:v6="http://fedex.com/ws/track/v6">
        <v6:HighestSeverity>ERROR</v6:HighestSeverity>  <v6:Notifications>     <v6:Severity>ERROR</v6:Severity>     <v6:Source>prof</v6:Source>     <v6:Code>1000</v6:Code>     <v6:Message>Authentication
        Failed</v6:Message>  </v6:Notifications>  <v6:Version>     <v6:ServiceId>trck</v6:ServiceId>     <v6:Major>6</v6:Major>     <v6:Intermediate>0</v6:Intermediate>     <v6:Minor>0</v6:Minor>  </v6:Version>
        </v6:TrackReply>
  recorded_at: Sat, 03 Apr 2021 22:32:22 GMT
recorded_with: VCR 6.0.0
